* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

.main-visual {
	width: 100%;
	height: 400px;
	background-image: url(img-c/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.main-visual-text {
	color: gray;
	padding: 20px;
}

main {
	width: 840px;
	margin: 50px auto;
}

.logo-item {
	margin: 30px;
	border-bottom: 1px black solid;
}